body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

.text-success {
  color: rgb(23, 209, 106)
}

.text-danger {
  color: rgb(209, 23, 23)
}

.text-warning {
  color: rgb(209, 163, 23)
}